.button {
  background-color: $light-blue;
  border: 0;
  padding: spacing();
  width: 100%;
  color: $white;
  text-transform: uppercase;
  -webkit-transition: background-color ease-in-out 0.1s;
  transition: background-color ease-in-out 0.1s;

  &:hover {
    background-color: darken($light-blue, 5%);
  }
  &:active {
    background-color: darken($light-blue, 10%);
  }
  &:active,
  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: darken($light-blue, 20%);
  }
}
