.footer {
  padding: spacing();
  padding-bottom: 0;
  text-align: center;
  font-size: 12px;
  color: $light-blue;
}

.footer__links {
  font-size: 24px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: spacing();
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

    li {
      padding-right: spacing(large);

      &:last-child {
        padding-right: 0;
      }

      a {
        color: $light-blue;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
