$block-border: #aaa;
$block-color: #ddd;
$block-size: 30px;

.minesweeper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 20px;
  border: 3px solid $block-color;
  border-radius: 3px;
}

.minesweeper--small {
  width: $block-size * 12;
}

.minesweeper--medium {
  width: $block-size * 20;
}

.minesweeper--large {
  width: $block-size * 28;
}

.minesweeper__block {
  box-sizing: border-box;
  height: $block-size;
  width: $block-size;
  border: 1px solid $block-border;
  background-color: $block-color;
  box-shadow: inset 2px 2px 1px $white;

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: inset 0px 0px 0px $white;
  }
}
