.nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  width: 210px;

  > * {
    border-bottom: 1px solid #ddd;
    padding: spacing(large);

    &:first-child {
      margin-top: 0;
      border-bottom: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.logo {
  background-color: $light-blue;
  color: $white;
  letter-spacing: 1px;

  .logo__text {
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.counter {
  font-size: 20px;
  letter-spacing: 1px;
}

.game-stats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.game-stats--half {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.legend {
  list-style: none;
  margin: 0;
	padding: 0;

  .legend__item {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: spacing(small);
    color: #9c9c9c;

    span {
      color: #6b6b6b;
    }
  }
}
